.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  background-color: #9FA8DA;
  color: floralwhite;
  box-shadow: 0px 3px 7px #999;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.no-decoration {
  text-underline: none;
  color: floralwhite;
}

.no-decoration:hover,
.no-decoration:focus{
  text-decoration: none;
  color: floralwhite;
}

.no-decoration a:active {
  color: floralwhite;
}

body {
  z-index: 0; }

.form-body{
  padding-top: 70px;
}

label {
  margin-bottom: 10px;
  font-size: large;
}

.btn-submit {
  margin-top: 20px;
  background: #9FA8DA;
  color: floralwhite
}
