{% extends "mybase.html" %}

{% block title %}宋词{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
    	<!-- shim -->
    <script src="{{url_for('static',filename='js/script.js')}}"></script>
	<script src="{{url_for('static',filename='inc/shim/Base64.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='inc/shim/Base64binary.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='inc/shim/WebAudioAPI.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='inc/shim/WebMIDIAPI.js')}}" type="text/javascript"></script>
	<!-- jasmid package -->
	<script src="{{url_for('static',filename='inc/jasmid/stream.js')}}"></script>
	<script src="{{url_for('static',filename='inc/jasmid/midifile.js')}}"></script>
	<script src="{{url_for('static',filename='inc/jasmid/replayer.js')}}"></script>
	<!-- midi.js package -->
	<script src="{{url_for('static',filename='js/midi/audioDetect.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename="js/midi/gm.js")}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/loader.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/plugin.audiotag.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/plugin.webaudio.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/plugin.webmidi.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/player.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/midi/synesthesia.js')}}" type="text/javascript"></script>
	<!-- utils -->
	<script src="{{url_for('static',filename='js/util/dom_request_xhr.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='js/util/dom_request_script.js')}}" type="text/javascript"></script>
	<!-- includes -->
	<script src="{{url_for('static',filename='inc/timer.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='inc/colorspace.js')}}" type="text/javascript"></script>
	<script src="{{url_for('static',filename='inc/event.js')}}" type="text/javascript"></script>
{% endblock %}

{% block content %}
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-5">
                <h1><a href="/" class="no-decoration">prp项目</a></h1>
            </div>
            <div class="col-12 offset-sm-1 col-sm-6">
                <p>项目介绍balalala</p>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                 <div class="wrapper img-responsive">
                     <div class="background">
                        <div class="music-lyric">
                            <div class="lyric-view">
                                <ul id="lyrics" class="lyric">
                                    {{ lyric }}
                                </ul>
                            </div>

                        </div>
                     </div>
                     <div class="content">
                         <audio src="{{ music_path }}"></audio>


                    </div>
                    <!-- 进度条 -->
                    <span class="basebar">
                        <span class="progressbar"></span>
                    </span>
                    <div class="controls">
                        <!-- 音乐播放。换频道，下一曲按钮 -->
                        <div class="music-control play-control">
                            <a role="button"><span class="fa fa-play btn1" id="btn1" title="播放/暂停"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="wrapper img-responsive">
                    <img src="{{ img_path }}" class="rounded float-left" alt="五线谱">
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="module" src="{{url_for('static',filename='js/script.js')}}"></script>
    <script type="text/javascript">

    var song = "{{ music_base64 }}";

    MIDI.loader = new sketch.ui.Timer;
	eventjs.add(window, "load", function(event) {
		MIDI.loader = new sketch.ui.Timer;
		MIDI.loadPlugin({
			soundfontUrl: "./static/soundfont/",
			onprogress: function(state, progress) {
				MIDI.loader.setValue(progress * 100);
			},
			onsuccess: function() {
				player = MIDI.Player;
				player.timeWarp = 1; // speed the song is played back
				player.loadFile(song, player.start);

				$("#btn1").click(function(){
                    if(player.playing) {
                        player.pause();
                        $('#btn1').removeClass('fa-pause').addClass('fa-play');
                    }
                    else {
                        player.resume();
                        $('#btn1').removeClass('fa-play').addClass('fa-pause');
                    }
                });

                setInterval(present,500);    //每0.5秒计算进度条长度
                $(".basebar").mousedown(function(ev){  //拖拽进度条控制进度
                    var posX = ev.clientX;
                    var targetLeft = $(this).offset().left;
                    var percentage = (posX - targetLeft)/400*100;
                    player.currentTime = player.endTime * percentage/100;
                });
                function present(){
                    var length = player.currentTime/player.endTime*100;
                    $('.progressbar').width(length+'%');//设置进度条长度
                    //自动下一曲
                    if(player.currentTime == player.endTime){
                    $('#btn1').removeClass('fa-pause').addClass('fa-play');
                    }
                };
			}
		});
	});

    </script>
{% endblock %}

