{% extends "mybase.html" %}

{% block title %}宋词{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/player.css') }}">
{% endblock %}

{% block content %}
<header class="jumbotron">
    <div class="container">
        <div class="row row-header">
            <div class="col-12 col-sm-5">
                <h1>prp项目</h1>
            </div>
            <div class="col-12 offset-sm-1 col-sm-6">
                <p>项目介绍balalala</p>
            </div>
        </div>
    </div>
</header>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-5 col-sm-offset-1">
                 <div class="wrapper img-responsive">
                <!-- 背景图片 -->
                     <div class="background">
                        <div class="music-lyric">
                            <div class="lyric-view">
                                <ul id="lyrics" class="lyric">
                                    {{ lyric }}
                                </ul>
                            </div>

                        </div>
                     </div>
                     <div class="content">
                        <audio src="{{ music_path }}"></audio>

                    </div>
                    <!-- 进度条 -->
                    <span class="basebar">
                        <span class="progressbar"></span>
                    </span>
                    <div class="controls">
                        <!-- 音乐播放。换频道，下一曲按钮 -->
                        <div class="music-control play-control">
                            <a role="button"><span class="fa fa-play btn1" id="btn1" title="播放/暂停"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-5">
                <div class="wrapper img-responsive">
                    <img src="{{ img_path }}" class="rounded float-left" alt="五线谱">
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js/script.js')}}"></script>
{% endblock %}

